<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AetherRouteAppGroup</key>
	<string>$(AETHERROUTE_APP_GROUP)</string>
	<key>AetherRouteKeychainAccessGroupSuffix</key>
	<string>$(AETHERROUTE_KEYCHAIN_GROUP_SUFFIX)</string>
	<key>AetherRouteProfileArchiveTypeIdentifier</key>
	<string>$(AETHERROUTE_PROFILE_ARCHIVE_TYPE)</string>
	<key>AetherRouteSharedKVSIdentifier</key>
	<string>$(AETHERROUTE_SHARED_KVS_IDENTIFIER)</string>
	<key>AetherRouteSharedKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)$(AETHERROUTE_SHARED_KEYCHAIN_GROUP_SUFFIX)</string>
	<key>AetherRouteTransparentProxyBundleIdentifier</key>
	<string>$(AETHERROUTE_TRANSPARENT_PROXY_BUNDLE_ID)</string>
	<key>AetherRouteTunnelBundleIdentifier</key>
	<string>$(AETHERROUTE_TUNNEL_BUNDLE_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
