<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AetherRouteAppGroup</key>
	<string>$(AETHERROUTE_APP_GROUP)</string>
	<key>AetherRouteKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)$(AETHERROUTE_KEYCHAIN_GROUP_SUFFIX)</string>
	<key>AetherRouteKeychainAccessGroupSuffix</key>
	<string>$(AETHERROUTE_KEYCHAIN_GROUP_SUFFIX)</string>
	<key>AetherRouteProfileArchiveTypeIdentifier</key>
	<string>$(AETHERROUTE_PROFILE_ARCHIVE_TYPE)</string>
	<key>AetherRouteTransparentProxyBundleIdentifier</key>
	<string>$(AETHERROUTE_TRANSPARENT_PROXY_BUNDLE_ID)</string>
	<key>AetherRouteTunnelBundleIdentifier</key>
	<string>$(AETHERROUTE_TUNNEL_BUNDLE_ID)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>AetherRoute Transparent Proxy</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.networkextension.app-proxy</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).TransparentProxyProvider</string>
	</dict>
</dict>
</plist>
